/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
}
.container{
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}
/* header start */
.header-top{
    width: 100%;
    padding: 30px 0;
    background-color: #F6F6F6;
}
.header-top-menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.header-top-menu-left , .header-top-menu-left-right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header-top-menu-left-logo{
    width: 276px;
    padding: 9px 6px;
    display: block;
    border-radius: 7px;
    background-color: #fff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.header-top-menu-left-list{
    margin-left: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
}
.header-top-menu-left-item{
    font-weight: 500;
    line-height: 19px;
    font-size: 16px;
    color: #555;
}
.header-top-menu-left-item-span{
    font-weight: 500;
    line-height: 19px;
    font-size: 16px;
    color: #2959CE;
}
.header-top-menu-left-item + .header-top-menu-left-item{
    margin-left: 25px;
}
.header-top-menu-left-right ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
}
.header-top-menu-left-right-item + .header-top-menu-left-right-item{
    margin-left: 25px;
}
.header-top-menu-left-right form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header-top-menu-left-right form label{
    padding: 15px 0 12px 15px;
    position: absolute;
}
.header-top-menu-left-right-input{
    width: 275px;
    padding: 15px 20px 15px 44px;
    border: none;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}
.header-top-menu-left-right-language{
    width: 70px;
    padding: 11px 3px;
    background-color: #DCE6FF;
    border-radius: 39px;
}
.header-top-menu-left-right-language a{
    text-decoration: none;
}
.header-top-menu-left-right-language-span-one{
    width: 30px;
    padding: 9px;
    background-color: #fff;
    font-weight: 400;
    line-height: 12px;
    font-size: 13px;
    color: #000000;
    text-align: center;
    border-radius: 55px;
    -webkit-border-radius: 55px;
    -moz-border-radius: 55px;
    -ms-border-radius: 55px;
    -o-border-radius: 55px;
}
.header-top-menu-left-right-language-span-two{
    font-weight: 400;
    line-height: 15px;
    color: #A6A6A6;
    font-size: 13px;
}
.header-top-menu-left-right-contact{
    padding: 13px 20px;
    font-weight: 500;
    line-height: 19px;
    font-size: 16px;
    color: #fff;
    border: 1px solid #7296ec;
    text-decoration: none;
    border-radius: 10px;
    background-color: #7296EC;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.header-top-menu-left-right-contact:hover{
    background-color: #fff;
    color: #7296ec;
}
.header-menu{
    padding: 30px 0;
}
.header-menu-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none;
}
.header-menu-item a{
    padding-bottom: 3px;
    font-weight: 500;
    line-height: 21px;
    font-size: 18px;
    text-align: center;
    color: #7F7F7F;
    transition: all 0.5s;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.header-menu-item a:hover{
    color: #000000;
    border-bottom: 1px dashed #000;
}
.header-line{
    width: 100%;
    margin-bottom: 40px;
    display: block;
    border-bottom: 1px solid #D1D1D1;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }
/* header end */
/* hero section start */
.hero{
    margin: 60px 0;
}
.hero-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style-type: none;
}
.hero-item{
    width: 393px;
    padding: 20px 17px;
    border-radius: 15px;
    background-color: #F6F6F6;
}
.hero-item-title{
    font-weight: 600;
    line-height: 26px;
    font-size: 20px;
    color: #000000;
}
.hero-item-text{
    margin: 10px 0 15px 0;
    font-weight: 500;
    line-height: 22px;
    font-size: 16px;
    color: #4a4b4c;
    opacity: 0.7;
}
.hero-item-img{
    width: 359px;
}
.hero-item-bottom{
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.hero-item-bottom-text{
    margin-left: 10px;
    font-weight: 400;
    line-height: 14px;
    color: #5E5F61;
    font-size: 12px;
}
.hero-item-mt{
    margin-top: 10px;
}
/* hero section end */
/* latest_news start */
.latest_news-section{
    margin-bottom: 84px;
}
.latest_news{
    width: 1050px;
    margin: 0 auto;
    padding: 24px 71px 24px 29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-image: url("../img/letters_news_img.png");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.latest_news-title{
    font-weight: 500;
    line-height: 26px;
    font-size: 20px;
}
.latest_news-link{
    padding: 13px 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    line-height: 24px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #F78B3B;
    background-color: #F78B3B;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.latest_news-link:hover{
    color: #F78B3B;
    background-color: #fff;
    border: 1px solid #F78B3B;
}
/* latest_news end */
/* world start */
.world-section{
    margin-bottom: 100px;
}
.world-section-title{
    font-weight: 500;
    line-height: 28px;
    font-size: 24px;
    color: #000;
}
.world{
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.world-left{
    width: 67%;
}
.world-left-list{
    list-style-type: none;
    width: 100%;
}
.world-left-item{
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 15px;
    background-color: #F6F6F6;
}
.world-left-item-content{
    margin-left: 15px;
}
.world-left-item-content-title{
    font-weight: 600;
    line-height: 26px;
    font-size: 20px;
}
.world-left-item-content-text{
    margin: 10px 0 17px 0;
    font-weight: 400;
    line-height: 22px;
    font-size: 16px;
    color: #4a4b4c;
}
.world-left-item-content-bottom{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.world-left-item-content-bottom-span{
    margin-left: 10px;
    font-weight: 400;
    line-height: 14px;
    font-size: 12px;
    color: #5E5F61;
}
.world-left-item + .world-left-item{
    margin-top: 10px;
}
.world-left-item:nth-child(5){
    margin-top: 17px;
}
.world-left-item-link{
    display: block;
    width: 100%;
    font-weight: 500;
    line-height: 19px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    text-align: center;
}
.world-right{
    width: 32%;
    margin-left: 1%;
}
.world-right-list{
    list-style-type: none;
}
.world-right-item + .world-right-item{
    margin-top: 14px;
}
.world-right-item-top{
    width: 100%;
    padding: 20px 17px 5px 17px;
    background-color: #F6F6F6;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.world-right-item-title{
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 28px;
    font-size: 24px;
    color: #000000;
}
.world-right-item-content{
    margin-top: 25px;
}
.world-right-item-content-title{
    font-weight: 600;
    line-height: 24px;
    font-size: 18px;
    color: #000000;
}
.world-right-item-content-text{
    margin: 10px 0 20px 0;
    font-weight: 400;
    line-height: 15px;
    font-size: 13px;
    color: #5E5F61;
}
.world-right-item-content-span{
    display: block;
    width: 100%;
    border-bottom: 1px solid #D2D2D2;
}
/* world end */
/* main end */
/* footer start */
.site-footer{
    padding: 50px 0;
    background-color: #7297EF;
}
.footer a{
    display: block;
}
.footer-top{
    margin-top: 15px;
}
.footer-top-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    list-style-type: none;
}
.footer-top-item-text{
    width: 242px;
    font-weight: 500;
    line-height: 19px;
    font-size: 13px;
    color: #fff;
}
.footer-top-item:nth-child(2){
    margin-left: 200px;
}
.footer-top-item:last-child{
    margin-left: 100px;
}
.footer-top-item-link{
    font-weight: 500;
    line-height: 19px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.footer-top-item-link:hover{
    color: #000;
    -webkit-text-decoration-line:underline;
            text-decoration-line:underline;
    -moz-text-decoration-line:underline;
}
.footer-top-item-link + .footer-top-item-link{
    margin-top: 20px;
}
.footer-span{
    margin: 30px 0 20px 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid #fff;
}
.footer-bottom{
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer-bottom-links{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer-bottom-title{
    font-weight: 500;
    line-height: 23px;
    font-size: 18px;
    color: #fff;
}
.footer-bottom-link + .footer-bottom-link{
    margin-left: 25px;
}
/* footer end */

/* about pages main section start */
.world-section-mt{
    margin-top: 50px;
}
/* about pages main section end */
/* contact pages main section start */
.hero-section-pb{
    padding-bottom: 200px;
}
.hero{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.hero-title{
    font-weight: 500;
    line-height: 28px;
    color: #000000;
    font-size: 24px;
}
.hero-contact{
    width: 67%;
    position: relative;
}
.hero-contact-type-name , .hero-contact-type-nomer{
    width: 49%;
    padding: 18px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.hero-contact-type-nomer{
    margin-left: 10px;
}
.hero-contact-type-email{
    width: 100%;
    margin-top: 10px;
    padding: 18px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.hero-contact-textarea{
    width: 100%;
    margin-top: 10px;
    padding: 18px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.hero-contact-type-submit{
    margin-top:230px;
    margin-left: -138px;
    padding: 17px 30px;
    position: absolute;
    border: none;
    border: 1px solid #7297EF;
    font-weight: 500;
    line-height: 19px;
    font-size: 16px;
    color: #fff;
    border-radius: 10px;
    background-color: #7297EF;
    cursor: pointer;
}
.hero-content{
    width: 32%;
    margin-left: 1%;
    padding: 20px 17px;
    background-color: #f6f6f6;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.hero-content-title{
    margin-top: 20px;
    font-weight: 500;
    line-height: 24px;
    font-size: 20px;
}
.hero-content-text{
    margin: 7px 0 20px 0;
    font-weight: 400;
    line-height: 19px;
    font-size: 16px;
}
.hero-content-span{
    width: 100%;
    display: block;
    border-bottom: 1px solid #D2D2D2;
}
/* contact pages main section end */